apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: itsanurag27/backend:latest
        envFrom:
        - configMapRef:
            name: backend-env
        - secretRef:
            name: db-secret
        ports:
        - containerPort: 8080
