name: Deploy to EKS

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: us-east-1
  EKS_CLUSTER: demo-eks-cluster

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::549363909370:role/oidc-anurag
        aws-region: ${{ env.AWS_REGION }}

    - name: Update kubeconfig
      run: |
        aws eks update-kubeconfig \
          --name ${{ env.EKS_CLUSTER }} \
          --region ${{ env.AWS_REGION }}

    - name: Deploy to EKS
      run: |
        kubectl apply -f k8s-manifest/

    - name: Verify Deployment Status
      run: |
        kubectl rollout status deployment/frontend --timeout=5m
        kubectl rollout status deployment/backend --timeout=5m
        kubectl rollout status deployment/mysql --timeout=5m
        
        echo "=== Deployment Status ==="
        kubectl get deployments
        echo ""
        echo "=== Pod Status ==="
        kubectl get pods
        echo ""
        echo "=== Service Status ==="
        kubectl get services
